@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

.radiobox {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
}

.radiobox-square {
  width: 20px;
  height: 20px;
  border-radius: 50%; /* 이 부분을 변경해서 동그라미로 만듭니다. */
  border: 2px solid black;
}

.radiobox-square:hover {
  outline: 1px solid;
}

.radiobox-square-clicked {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%; /* 클릭 시 동그라미로 유지 */
  border: 2px solid black;
  background-color: black;
  color: white;
}

.radiobox-text {
  font-family: "Pretendard-Regular";
  font-size: 22px;
  margin: 10px;
}
